{% extends "layout.html.twig" %}
{% block sideNav %}
	{% include 'Components/_sideNavProfile.html.twig' %}
{% endblock %}

{% block content %}
	<div class="container d-flex flex-column align-items-left">
		<h1>
			Mes données personnelles
		</h1>


		<ul class="list-group list-group-light">

			<li class="list-group-item"> nom :{{user.lastname}}</li>
			<li class="list-group-item"> prenom :{{user.firstname}}</li>
			<li class="list-group-item"> email :{{user.email}}</li>
			<li class="list-group-item"> date de naissance :{{user.dob}}</li>
			<li class="list-group-item"> portable :{{user.phone_number}}</li>
			<li class="list-group-item"> adresse :{{user.address}}</li>
			<li class="list-group-item"> adresse secondaire : (adress livraison):{{user.address}}</li>


		</ul>

		<h1>
			Mes commandes
		</h1>
		
	</div>
{% endblock %}
