{% extends "layout.html.twig" %}
{% block sideNav %}
	{% include 'Components/_sideNavProfile.html.twig' %}
{% endblock %}

{% block content %}
	<div class="container d-flex flex-column align-items-left">
		<h1>
			Mes données personnelles
		</h1>


		<ul class="list-group list-group-light">

			<li class="list-group-item">
				nom :{{user.lastname}}</li>
			<li class="list-group-item">
				prenom :{{user.firstname}}</li>
			<li class="list-group-item">
				email :{{user.email}}</li>

			<li class="list-group-item">
				date de naissance :{{user.dob}}</li>

			<li class="list-group-item">
				portable :{{user.phone_number}}</li>

			<li class="list-group-item">
				adresse :{{user.address}}</li>

			<li class="list-group-item">
				adresse secondaire : (adress livraison):{{user.address}}</li>


		</ul>

		<h1>
			Mes commandes
		</h1>
		{% if commande %}
			{% for commande in commandes %}
				<li class="list-group-item">{{commande}}</li>
			{% endfor %}


		{% else %}
			<li class="list-group-item">
				<p>Vous n'avez pas encore faire la commande.</p>
			</li>

		{% endif %}

		<form action="/modifyprofil" method="post">
			<div class="mb-3">
				<button type="submit" class="btn btn-dark btn-block">Modifier</button>
			</div>
		</form>


	</div>
{% endblock %}
