{% extends "layout.html.twig" %}
{% block sideNav %}
	{% include 'Components/_sideNavProfile.html.twig' %}
{% endblock %}

{% block content %}
	<div class="container d-flex flex-column align-items-left">
		<h1>
			Mes données personnelles
		</h1>


		<ul class="list-group list-group-light">

			<li class="list-group-item">
				nom :{{user.lastname}}</li>
			<li class="list-group-item">
				prenom :{{user.firstname}}</li>
			<li class="list-group-item">
				email :{{user.email}}</li>
			<li class="list-group-item">
				date de naissance :{{user.dob}}</li>
			<div class="mb-3">
				<label for="phone_number" class="form-label">Phone Number</label>
				<input class="form-control" type="text" id="phone_number" name="phone_number" required>
			</div>
			<li class="list-group-item">
				portable :{{user.phone_number}}</li>
			<div class="mb-3">
				<label for="address" class="form-label">Address Principal</label>
				<input class="form-control" type="text" id="address" name="address" required>
			</div>
			<li class="list-group-item">
				adresse :{{user.address}}</li>
			<div class="mb-3">
				<label for="adress_2" class="form-label">Address Secondery</label>
				<input class="form-control" type="text" id="adress_2" name="adress_2">
			</div>

			<li class="list-group-item">
				adresse secondaire : (adress livraison):{{user.address}}</li>


		</ul>

		<h1>
			Mes commandes
		</h1>

		<div class="mb-3">
			<button type="submit" class="btn btn-dark btn-block">Confirmer le changement</button>
		</div>

	</div>
{% endblock %}
